.idea/

*.pyc
__pycache__/
*.egg-info

.Trash-*
*.DS_Store
.AppleDouble
.LSOverride

.cache/
htmlcov
.coverage
.pytest_cache/
venv

.terraform*
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
!terraform.tfvars.template
terraform.tfbackend
!terraform.tfbackend.template
graph.svg
crash.log

.terragrunt-cache

.env

